!/PieceInclusoinProof.toolbox/Model_*/*
PieceInclusionProof.toolbox/Model_*/*.tla
!PieceInclusionProof.toolbox/Model_*/MC.tla
PieceInclusionProof.toolbox/Model_*/*.out
PieceInclusionProof.toolbox/Model_*_SnapShot*/
PieceInclusionProof.toolbox/PieceInclusionProof.*
PieceInclusionProof.toolbox/*.launch
PieceInclusionProof.toolbox/.*


