
{{ $page := .page }}

{{ $tokens := partial "tokensFromPagePath" $page.Path }}
{{ $name := partial "nameFromPagePath" $page.Path }}
{{ $tag := partial "tagFromPagePath" $page.Path }}

{{ $depth := len $tokens }}

<div id="{{ $tag }}">

{{ printf "<h%d>" $depth | safeHTML }}
  {{ $page.Param "title" | markdownify }}
{{ printf "</h%d>" $depth | safeHTML }}

{{ $page.Content }}

{{ range ($page.Param "entries") }}
  {{ with $page.GetPage . }}
    {{ partial "sectionLayoutPartial.html" (dict "page" .) }}
  {{ end }}
{{ end }}

</div>
