{{ if not (.Page.Scratch.Get "panzoom") }}
    <script src="https://unpkg.com/d3-zoomable@1.1.3/dist/d3-zoomable.min.js"></script>
    {{ .Page.Scratch.Set "panzoom" true }}
{{ end }}

{{ if (.Get "src") }}
    {{ if eq (.Get "src" | printf "%.1s") "/" }}
      {{ $.Scratch.Set "filepath" ( .Get "src" ) }}
    {{ else }}
      {{ $.Scratch.Set "filepath" $.Page.Dir }}
      {{ $.Scratch.Add "filepath" ( .Get "src" ) }}
    {{ end }}
    {{ if fileExists ($.Scratch.Get "filepath") }}
      {{ $content := $.Scratch.Get "filepath" | readFile | safeHTML }}
      {{ $uuid := delimit (shuffle (seq 1 9)) "" }}
      {{ $id := (print "diagrams-" $uuid) }}
      <div>
        <div id="{{ $id }}" class="diagrams svg{{ with .Get "class" }} {{ . }}{{ end }}">
          {{- $content -}}
        </div>
        <div class="diagrams-caption">{{( .Get "title" )}}</div>
      </div>
      <script>
        var element = document.querySelector("#{{ $id }}");
        zoomable()(element).htmlEl(element.querySelector('svg'));
      </script>
    {{ else }}
      <blockquote class="book-hint danger">
        {{- printf "File '%s' not found from Page '%s'" ($.Scratch.Get "filepath") .Page.File }}
      </blockquote>
      {{- warnf "File '%s' not found from Page '%s'" ($.Scratch.Get "filepath") .Page.File }}
    {{ end }}
{{ else }}
  <div class="diagrams{{ with .Get "class" }} {{ . }}{{ end }}">
    {{- .Inner -}}
    <div class="diagrams-caption">{{( .Get "title" )}}</div>
  </div>
{{ end }}