
// width

.container {
  max-width: 90rem;
}

.book-menu {
  flex: 0 0 22rem;
}

.book-menu nav {
  width: 22rem;
}


// header-highlight

$header-highlight: #e6fbfd;

h1, h2, h3, h4, h5 {
  background: $header-highlight;
}

h1 {
  font-weight: bold;
  padding: 20px;
}

h2 {
  padding: 18px;
}

h3 {
  padding: 16px;
}

h4 {
  padding: 14px;
}

h5 {
  padding: 12px;
}


// section numbering

$section-number-menu-color: #a9a9a9;

// this has to happen once for the menu, once for the content
// so that the counting is right for both.
body, .book-menu, .book-page {
  counter-reset : h1;
}

h1, .menu-item.depth-1 {
  counter-reset : h2;
}

h2, .menu-item.depth-2 {
  counter-reset : h3;
}

h3, .menu-item.depth-3 {
  counter-reset : h4;
}

h4, .menu-item.depth-4 {
  counter-reset : h5;
}

h5, .menu-item.depth-5 {
  counter-reset : h6;
}

.menu-item:before {
  color: $section-number-menu-color;
}

article h1:before, .menu-item.depth-1:before {
  content : counter(h1,decimal) ". ";
  counter-increment : h1;
}

article h2:before, .menu-item.depth-2:before {
  content : counter(h1,decimal) "." counter(h2,decimal) ". ";
  counter-increment : h2;
}

article h3:before, .menu-item.depth-3:before {
  content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) ". ";
  counter-increment : h3;
}

article h4:before, .menu-item.depth-4:before {
  content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) ". ";
  counter-increment : h4;
}

article h5:before, .menu-item.depth-5:before {
  content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) ". ";
  counter-increment : h5;
}

article h6:before, .menu-item.depth-6:before {
  content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) "." counter(h6,decimal) ". ";
  counter-increment : h6;
}

h1.nocount:before, h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before,
.menu-item.nocount:before {
  content : "";
  counter-increment : none;
}
