{{- if .Page.Site.Params.BookPortableLinks -}}
  {{- template "portable-link" . -}}
{{- else -}}
  <a href="{{ .Destination | safeURL }}"{{ with .Title}} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
{{- end -}}

{{- define "portable-link" -}}
{{- $destination := .Destination }}
{{- $title := .Title -}}
{{- $isRemote := or (in .Destination ":") (strings.HasPrefix .Destination "//") }}
{{- if not $isRemote }}
    {{- $url := urls.Parse .Destination }}
    {{- $path := strings.TrimSuffix "/_index.md" $url.Path }}
    {{- $path = strings.TrimSuffix "/_index" $path }}
    {{- $path = strings.TrimSuffix ".md" $path }}
    {{- $page := .Page.Site.GetPage $path }}
    {{- if $page }}
        
        {{- $pathParts := split $page.File.Path "/" -}}
        {{- $pathSize := len $pathParts -}}
        {{- $level := 0 -}}
        {{- $anchor := "" -}}

        {{- if $url.Fragment -}}
            {{- $anchor = printf "#%s--%s" (delimit $pathParts "$") $url.Fragment -}}
        {{- else -}}
            {{- $anchor = printf "#%s" (delimit $pathParts "$") -}}
        {{- end -}}

      {{- $destination = $anchor }}
      {{- if .Title -}}
      {{- $title = .Title -}}
      {{- else -}}
      {{- $title = $page.Title -}}
      {{- end -}}
    {{- else if fileExists (print .Page.File.Dir .Destination) }}
      <!-- Nothing -->
    {{- else -}}
      {{- warnf "Page '%s' not found in '%s' for lang '%s'" .Destination .Page.File .Page.File.Lang }}
    {{- end }}
  {{- end }}
  <a href="{{ $destination | safeURL }}"{{ with $title}} title="{{ . }}"{{ end }} {{ if $isRemote }} target="_blank" rel="noopener"{{ end }}>{{ .Text | safeHTML }}</a>
{{- end -}}
