version: 2.1

jobs:
  test:
    docker:
      - image: circleci/golang:1.13
    steps:
      - checkout
      - run:
          command: |
            make test

  format:
    docker:
      - image: circleci/golang:1.12
    steps:
      - checkout
      - run:
          command: |
            make fmt-code
            git diff --exit-code

  build:
    docker:
      - image: circleci/golang:1.12
    steps:
      - checkout
      - run:
          command: |
            make build

workflows:
  version: 2.1
  test_all:
    jobs:
      - test
      - format
      - build
