<div>

  <div>
    <!-- change the value to adjust slider default value. should be 2 -->
    <input id="menu-detail-slider" type="range" onchange="onMenuDetailChange();"
      min="1" value="3" max="5" step="1" />

    <span id="menu-detail-slider-label">3</span>
  </div>

  {{ $page := print "/docs" | $.Site.GetPage }}
  {{ if (not ($page.Param "suppressMenu")) }}
  <ul class="menu-item-section depth-0">
  {{ range ($page.Param "entries") }}
      <li>
      {{ with $page.GetPage . }}
        {{ partial "menuLayoutPartial.html" (dict "page" . "depth" 1) }}
      {{ end }}
      </li>
  {{ end }}
  </ul>
  {{ end }}
</div>
