<div>

  <div>
    <input id="menu-detail-slider" type="range" min="1" value="2" max="5" step="1" onchange="onMenuDetailChange();" />
    <span id="menu-detail-slider-label">3</span>
  </div>

  {{ $page := print "/docs" | $.Site.GetPage }}
  {{ if (not ($page.Param "suppressMenu")) }}
  <ul class="menu-item-section depth-0">
  {{ range ($page.Param "entries") }}
      <li>
      {{ with $page.GetPage . }}
        {{ partial "menuLayoutPartial.html" (dict "page" . "depth" 1) }}
      {{ end }}
      </li>
  {{ end }}
  </ul>
  {{ end }}
</div>
