// Colors


.text-missing {color: $red;}
.text-incorrect {color: $orange;}
.text-wip {color: $yellow;}
.text-reliable {color: $blue;}
.text-stable {color: $green;}
.text-transparent { color: transparent;}
.text-black { color: black !important;}

.bg-na { background-color: #6c8293;}
.bg-missing { background-color: $red; }
.bg-incorrect {background-color: $orange;}
.bg-wip {background-color: $yellow;}
.bg-reliable {background-color: $blue; }
.bg-stable {background-color: $green;}
.bg-transparent { background-color: transparent;}
.bg-black { background-color: black;}