// Colors
.text-incorrect {color: #ff0010;}
.text-wip {color: #ff6f00;}
.text-incomplete {color: #ffef00;}
.text-stable {color: #90ff00;}
.text-transparent { color: transparent;}
.text-black { color: black;}

.bg-na { background-color: #6c8293;}
.bg-incorrect {background-color: #ff0010;}
.bg-wip {background-color: #ff6f00;}
.bg-incomplete {background-color: #ffef00;}
.bg-stable {background-color: #90ff00;}
.bg-transparent { background-color: transparent;}
.bg-black { background-color: black;}