#dashboard-container {
  // the dashboard is generated on the client, so it throws out in page anchor scrolling, so we set the heigt manually here.
  // TODO: Fix properly. perhaps generating the table earlier in the page render could fix it... otherwise writing it into the dom as a post process.
  height: 2850px;
  overflow: auto;
}
table.Dashboard {
  display: table;
  table-layout: fixed;
  width: 100%;
  font-size: 12px;
  margin: 0;
}

table.Dashboard {
  th:first-child {
    width: 50%;
  }
  .gg-external {
    display: inline-block;
    margin-left: 3px;
    vertical-align: text-top;
  }
}

.Dashboard tr th,
.Dashboard tr td {
  padding: 0 1rem !important;
  text-align: center;
}
.Dashboard tr td:first-child {
  text-align: left;
}

.Dashboard-section {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
