:root {
  --cl-red: #ff0010;
  --cl-orange: #ff6f00;
  --cl-yellow: #ffef00;
  --cl-green: #90ff00;
  --cl-blue: #0090ff;
  --cl-gray: #6c8293;

  --color-link: var(--cl-blue);
  --color-visited-link: var(--cl-blue);
}
