<table id="dashboard-impls" class="sort Dashboard">
    <thead>
        <tr>
            <th style="width:20%">Repo</th>
            <th>Language</th>
            <th>CI</th>
            <th>Test Coverage</th>
            <th>Security Audit</th>
        </tr>
    </thead>
    <tbody>
        {{- template "dashboard-impls-children" (dict "Section" ($.Site.GetPage "implementations") ) -}}
    </tbody>
</table>

<!-- Children Template -->
{{ define "dashboard-impls-children" }}
    {{- $pages := where .Section.Pages "Params.bookhidden" "ne" true -}}
    {{- range $impl := (sort $pages "Weight" "asc") -}}
        {{- range $repoUrlIndex, $repoItem := .Params.implRepos -}}
            {{ $repoUrl := $repoItem.repo }}
            {{ $repoLang := $repoItem.lang }}
            {{ $parts := split $repoUrl "/" }}
            {{ $size := len $parts }}
            {{ $repoName := (index $parts (sub $size 1)) }}
            {{ $repoOrg := (index $parts (sub $size 2)) }}
            {{ $path := delimit (slice $repoOrg $repoName) "/" }}
            {{ $url := printf "https://codecov.io/api/gh/%s" $path }}
            {{ $data := getJSON $url }}
            {{ $cov := $data.commit.totals.c }}
            {{ $color := "bg-na"}}
            {{ if gt $cov 0 }}
                {{ $color = "bg-incorrect"}}
            {{ end }}
            {{ if gt $cov 20 }}
                {{ $color = "bg-wip"}}
            {{ end }}
            {{ if gt $cov 45 }}
                {{ $color = "bg-incomplete"}}
            {{ end }}
            {{ if gt $cov 70 }}
                {{ $color = "bg-reliable"}}
            {{ end }}
            <tr>
                <td style="text-align:left"><a title="{{ $repoName }}" href="{{ $repoUrl }}">{{ $repoName }}</a></td>
                <td>{{ $repoLang }}</td>
                <td class="text-black {{ if eq $data.commit.ci_passed  true }}bg-reliable{{ else if eq $data.commit.ci_passed false }}bg-incorrect {{ else }}bg-na{{end}}">
                    {{ if eq $data.commit.ci_passed  true }}Passed{{ else if eq $data.commit.ci_passed false }}Failed{{ else }}Unknown{{ end }}
                </td>
                <td class="text-black {{ $color }}">
                    <a class="text-black" href="https://codecov.io/gh/{{ $path }}" title="Open on codecov.io">
                        {{ if $data.commit.totals.c }}{{ math.Round $data.commit.totals.c }}%{{ else }}Unknown{{end}}
                    </a>
                </td>
                <td class="text-black bg-{{ $repoItem.auditState | default "na" }}">
                    {{if eq $repoItem.auditState "wip"}}
                        WIP
                    {{else if $repoItem.auditURL}} 
                        <a href="{{ $repoItem.auditURL }}" title="Read the audit report" target="_blank" rel="noopener noreferrer" class="text-black">
                            {{ $repoItem.auditDate }}<i class="gg-external gg-s-half"></i>
                        </a>
                    {{else}}
                        {{ humanize $repoItem.auditState | default "None" }}
                    {{end}}
                </td>
            </tr>
        {{ end }}
    {{ end }}
{{ end }}