<table id="dashboard-impls" class="sort">
    <thead>
        <tr>
            <th>Implementation</th>
            <th>Test Coverage</th>
            <th>Compliance Tests</th>
            <th>Security Audit</th>
            <th>CI</th>
        </tr>
    </thead>
    <tbody>
        {{- template "dashboard-impls-children" (dict "Section" ($.Site.GetPage "implementations") ) -}}
    </tbody>
</table>

<!-- Children Template -->
{{ define "dashboard-impls-children" }}
    {{- $pages := where .Section.Pages "Params.bookhidden" "ne" true -}}
    {{- range sort $pages "Weight" "asc" -}}
        {{ $parts := split .Params.implRepo "/" }}
        {{ $size := len $parts }}
        {{ $path := delimit (slice (index $parts (sub $size 2)) (index $parts (sub $size 1))) "/" }}
        {{ $url := printf "https://codecov.io/api/gh/%s" $path }}
        {{ $data := getJSON $url }}
        {{ $cov := $data.commit.totals.c }}
        {{ $color := "bg-na"}}
        {{ if gt $cov 0 }}
            {{ $color = "bg-incorrect"}}
        {{ else if gt $cov 25 }}
            {{ $color = "bg-wip"}}
        {{ else if gt $cov 50 }}
            {{ $color = "bg-incomplete"}}
        {{ else if gt $cov 75 }}
            {{ $color = "bg-stable"}}
        {{ end }}
        <tr>
            <td><a title="{{.Title}}" href="{{.Permalink}}">{{.Title}}</a></td>
            <td class="text-black {{ $color }}">
                {{ if $data.commit.totals.c }}{{ math.Round $data.commit.totals.c }}%{{ else }}N/A{{end}}
            </td>
            <td class="text-transparent {{ if gt .Page.Params.implSpecCompliance 0 }}bg-stable{{ else }}bg-incorrect{{end}}">
                {{ .Page.Params.implSpecCompliance }}
            </td>
            <td class="text-transparent {{ if gt .Page.Params.implAudit 0 }}bg-stable{{ else }}bg-incorrect{{end}}">
                {{ .Page.Params.implAudit }}
            </td>
            <td class="text-transparent {{ if eq $data.commit.ci_passed  true }}bg-stable{{ else if eq $data.commit.ci_passed false }}bg-incorrect {{ else }}bg-na{{end}}">
                
            </td>
        </tr>
        
    {{ end }}
{{ end }}