{{ $src := .Get "src" }}

{{/* Get the filepath */}}
{{/* Relative to content folder */}}
{{ if eq ($src | printf "%.1s") "/" }}
    {{ $.Scratch.Set "filepath" ( strings.TrimLeft "/" ( $src ))}}
{{ else }}
{{/* Relative to page */}}
    {{ $.Scratch.Set "filepath" $.Page.File.Dir }}
    {{ $.Scratch.Add "filepath" ( $src ) }}
{{ end }}


{{ $path := ($.Scratch.Get "filepath")}}
{{ $lang := .Get "lang" }}
{{ $markdown := .Get "markdown" }}
{{ $symbolName := .Get "symbol" }}
{{ $remote := .Get "remote"}}
{{ $external := false }}
{{ $content := "" }}
{{ $url := "" }}
{{ $title := default $symbolName (.Get "title")}}

{{ if hasPrefix $src "github:" }}
    {{ $external = "github" }}
{{ end }}

{{ if $external }}
    {{- $HOST := $.Site.Params.API -}}
    {{- $ref := default "master" (.Get "ref" ) -}}
    {{- $resp := getJSON (printf "%s/github?file=%s&ref=%s" $HOST $src $ref )  -}}
    {{- $content = ($resp.content | base64Decode ) -}}
    {{- $url = $resp.url -}}
{{ else if fileExists $path }}
    {{ $content = readFile $path }}
{{ else }}
    {{- errorf "File '%s' not found from Page '%s'" $path .Page.File }}
{{ end }}

{{ if $content }}
    {{ if eq $markdown "true" }}
        {{ $content | markdownify }}
    {{ else if $symbolName }}
        <!-- Symbols -->
        {{ $body := "" }}
        {{ $comment := "" }}

        <!-- search for func -->
        <!-- func https://regex101.com/r/hEcbY2/6 -->
        {{ $pattern2 := printf "(?m)(^\\n^((//.*\\n)*)(func(\\s\\([^\\)]+\\))?\\s%s\\([\\s\\S]+?\\n}))" $symbolName}}
        {{ $block :=  index (findRE $pattern2 $content ) 0}}
        {{ $comment = replaceRE $pattern2 "$2" $block }}
        {{ $body = replaceRE $pattern2 "$4" $block }}

        <!-- search for type struct -->
        <!-- https://regex101.com/r/GxAnFP/1 -->
        {{- if eq $body "" -}}
            {{ $patternStruct := printf "(?m)(^\\n^((//.*\\n)*)(type %s struct \\{[\\s\\S]+?\\n}))" $symbolName}}
            {{ $block :=  index (findRE $patternStruct $content ) 0}}
            {{ $comment = replaceRE $patternStruct "$2" $block }}
            {{ $body = replaceRE $patternStruct "$4" $block }}
        {{- end -}}

        <!-- search for type interface -->
        {{- if eq $body "" -}}
            {{ $patternStruct := printf "(?m)(^\\n^((//.*\\n)*)(type %s interface \\{[\\s\\S]+?\\n}))" $symbolName}}
            {{ $block :=  index (findRE $patternStruct $content ) 0}}
            {{ $comment = replaceRE $patternStruct "$2" $block }}
            {{ $body = replaceRE $patternStruct "$4" $block }}
        {{- end -}}

        {{- if $body }}
            <p id="symbol-comment-{{- $symbolName -}}">
                {{ (replace $comment "//" "") | .Page.RenderString }}
            </p>
            <div id="symbol-body-{{- $symbolName -}}">
                {{ highlight ($body | safeHTML) $lang "" }}
                {{- template "embed-legend" (dict "Title" $title "URL" $url) -}}
            </div>
        {{- else -}}
            {{- errorf "Symbol '%s' not found in file '%s' from Page '%s'" $symbolName $path .Page.File }}
        {{- end -}}
    {{ else if $lang }}
        <div id="{{anchorize $title}}">
            {{ highlight ($content | safeHTML ) (.Get "lang") "" }}
            {{- template "embed-legend" (dict "Title" $title "URL" $url) -}}
        </div>
    {{ else }}
        {{ $content | safeHTML }}
    {{ end }}
{{ end }}

{{ define "embed-legend" }}
<div style="display: flex; margin-top: -1rem">
    {{- if .Title -}}
        <a style="width: 50%" class="permalink" href="#{{anchorize (printf "example %s" .Title) }}">Example: {{.Title}}</a>
    {{- end -}}
    {{- if .URL -}}
        {{- if eq .Title "" -}}
            <div style="width: 50%"></div>
        {{- end -}}
        <a style="width: 50%; text-align: right" href="{{.URL}}" title="Github Source" target="_blank" rel="noopener noreferrer" >
            Github <i class="gg-external gg-inline gg-s-half"></i>
        </a>
    {{- end -}}
</div>

{{ end }}