{{ if (.Get "src") }}
  {{ if eq (.Get "src" | printf "%.4s") "http" }}
      <figure>
        <img src="{{ .Get "src" }}"  />
        <figcaption>
          {{(.Get "title")}}
        </figcaption>
      </figure>
  {{ else }}
      {{ $.Scratch.Set "filepath" .Page.File.Dir }}
      {{ $.Scratch.Add "filepath" ( .Get "src" ) }}
      {{ if fileExists ($.Scratch.Get "filepath") }}
        {{ $uuid := delimit (shuffle (seq 1 9)) "" }}
        {{ $id := (print "figure-" $uuid) }}
        <figure >
          {{ $src := .Page.Resources.GetMatch ( .Get "src" ) }}
          {{ with $src }} 
          <div id="{{ $id }}" class="figure {{ if ($.Get "zoom")}}zoomable{{ end }}">
            <img src="{{ .RelPermalink }}" height="{{ .Height }}" width="{{ .Width }}" loading="lazy" alt="{{ $.Get "title" }}"/>
          </div>
          {{ end }}
          <figcaption>
            {{ .Get "title" }}
          </figcaption>
        </figure>
      {{ else }}
        <blockquote class="book-hint danger">
          {{- printf "File '%s' not found from Page '%s'" ($.Scratch.Get "filepath") .Page.File }}
        </blockquote>
        {{- warnf "File '%s' not found from Page '%s'" ($.Scratch.Get "filepath") .Page.File }}
      {{ end }}
    {{ end }}
{{ end }}