{{- $level := default 1 (int (.Get "level")) -}}
{{- $originalLevel := default 1 (int (.Get "level")) -}}
{{- $title :=  (.Get "title") | safeHTML -}}
{{/* get rid of unwanted filename noise */}}
{{- $path := strings.TrimSuffix "/_index.md" .Page.File.Path }}
{{- $path = strings.TrimSuffix ".md" $path }}
{{- $pathParts := split $path "/" -}}
{{- $pathSize := len $pathParts -}}

{{/* 
    .Level is the heading number from the original markdown, e.g 1 for an h1.
    $level is the corrected heading number given the depth of the file in the tree.
*/}}
{{- $level := add $pathSize (sub $level 1) -}}
{{- $anchor := printf "%s__%s" (delimit $pathParts "__") (anchorize $title) -}}
    
<h{{ $level}} id="{{ $anchor | safeURL }}" class="level-{{ $level }}" data-page="{{if eq $originalLevel 1 }}true{{end}}" data-dashboard-weight="{{.Page.Params.dashboardWeight}}" data-dashboard-state="{{.Page.Params.dashboardState}}" data-dashboard-audit="{{.Page.Params.dashboardAudit}}">
    <a href="#{{ $anchor | safeURL }}">{{$title}} </a>
</h{{ $level}}>