<script>
  structLocs = {
    "Block":                   "data_structures",
    // "ChainManager_BlockState": "impl/chain_manager",
  };

  structRefs = {
    "TxMeta":                  "Block",
  };

  fillCodeRefs = (xs) => {
    for (let x of xs) {
      let key = x.innerText;
      let newKey = structRefs[x.innerText];
      if (newKey !== undefined) {
        key = newKey;
      }
      let res = structLocs[key];
      if (res !== undefined) {
        x.innerHTML = "<a href=\"/docs/" + res + "/#go__" + key + "\">" + x.innerHTML + "</a>";
      }
    }
  };

  window.onload = (event) => {
    fillCodeRefs(document.getElementsByClassName("nx"));
    fillCodeRefs(document.getElementsByClassName("codeRef"));
  };
</script>
