<script>
  structLocs = {
    "Actor":                   "data_structures",
    "Address":                 "detail/address",
    "Block":                   "data_structures",
    "ElectionProof":           "data_structures",
    "Message":                 "data_structures",
    "Signature":               "data_structures",
    "SignedMessage":           "data_structures",
    "Ticket":                  "data_structures",
    "TipSet":                  "data_structures",
    "UnsignedMessage":         "data_structures",
    // "ChainManager_BlockState": "impl/chain_manager",
  };

  structRefs = {
    "AddressId":               "Address",
    "AddressSecp256k1":        "Address",
    "AddressActor":            "Address",
    "AddressBLS12_381":        "Address",
    "TxMeta":                  "Block",
  };

  fillCodeRefs = (xs) => {
    for (let x of xs) {
      let key = x.innerText;
      let newKey = structRefs[x.innerText];
      if (newKey !== undefined) {
        key = newKey;
      }
      let res = structLocs[key];
      if (res !== undefined) {
        x.innerHTML = "<a href=\"/docs/" + res + "/#go__" + key + "\">" + x.innerHTML + "</a>";
      }
    }
  };

  window.onload = (event) => {
    fillCodeRefs(document.getElementsByClassName("nx"));
    fillCodeRefs(document.getElementsByClassName("codeRef"));
  };
</script>
