{{- if (.Get "src") -}}
        <object data='{{- .Get "src" -}}#pagemode=thumbs&toolbar=1&statusbar=1&messages=1&navpanes=1' 
          type='application/pdf' 
          width='100%' 
          height='500px'>
          <p>This browser does not support inline PDFs. Please download the PDF to view it: <a href="{{- .Get "src" -}}">Download {{ .Get "title" }} PDF</a></p>
        </object>
{{- else -}}
<blockquote class="book-hint danger">
  {{- printf "File '%s' not found from Page '%s'" ($.Scratch.Get "filepath") .Page.File }}
</blockquote>
{{- warnf "File '%s' not found from Page '%s'" ($.Scratch.Get "filepath") .Page.File }}
{{- end -}}