{{ if (.Get "src") }}
    {{ if eq (.Get "src" | printf "%.1s") "/" }}
      {{ $.Scratch.Set "filepath" ( .Get "src" ) }}
    {{ else }}
      {{ $.Scratch.Set "filepath" $.Page.File.Dir }}
      {{ $.Scratch.Add "filepath" ( .Get "src" ) }}
    {{ end }}
    {{ if fileExists ($.Scratch.Get "filepath") }}
      {{ $content := $.Scratch.Get "filepath" | readFile | safeHTML }}
      {{ $uuid := delimit (shuffle (seq 1 9)) "" }}
      {{ $id := (print "diagrams-" $uuid) }}
      <figure class="diagrams-container">
        <div title="{{ .Get "title" }}" id="{{ $id }}" class="diagrams svg{{ with .Get "class" }} {{ . }}{{ end }} zoomable">
          <img src="{{ $.Scratch.Get "filepath" }}" loading="lazy" height="100%" />
        </div>
        <figcaption title="{{ .Get "title" }}" class="diagrams-caption">
          Figure: {{( .Get "title" )}}
          <a class="diagrams-link" title="Open diagram in new tab" href="{{ $.Scratch.Get "filepath" | relURL }}" target="_blank">Open in tab</a>
        </figcaption>
      </figure>
    {{ else }}
      <blockquote class="book-hint danger">
        {{- printf "File '%s' not found from Page '%s'" ($.Scratch.Get "filepath") .Page.File }}
      </blockquote>
      {{- warnf "File '%s' not found from Page '%s'" ($.Scratch.Get "filepath") .Page.File }}
    {{ end }}
{{ end }}